@tailwind base;
@tailwind components;
@tailwind utilities;

.textGradientPrime{
    background: -webkit-linear-gradient(#4B2C79, #8D7DFD);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.textGradientSec{
    background: -webkit-linear-gradient(#BCA0DC, #F4F0F7);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}